<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRmnJKQDS906e8pXv7kve1hFDoQRxlNKk</string>
	<key>GCM_SENDER_ID</key>
	<string>807006308387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenditureManagement</string>
	<key>PROJECT_ID</key>
	<string>vital-invention-397314</string>
	<key>STORAGE_BUCKET</key>
	<string>vital-invention-397314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807006308387:ios:eb82fce33b122d96480996</string>
</dict>
</plist>